/* html 点击 div 等元素隐藏闪烁光标 */
div, p, span, td {
    caret-color: transparent;
}

/* input 输入框内的闪烁光标恢复自动 */
input {
    caret-color: auto;
}

ul li {
    list-style: none;
}

.dd-left{
    float: left;
    width: 40%;
    /*border-right: 1px solid #DDD;*/
}

.dd-middle{
    float: left;
    width: 30%;
}

.dd-right{
    float: left;
    width: 30%;
}

.cursor1{
    cursor: pointer;
}

.dd-middle label{
    font-weight: normal;
    margin-bottom: 0;
}

.dd-subdiv{
    width: 46%;
    margin-top: 10px;
    margin-left: 30px;
}

.green{
    color: #008d4c; !important;
}

.orange{
    color: darkorange; !important;
}

.red{
    color: red; !important;
}

.margin-t10{
    margin-top: 10px;
}

.margin-t30{
    margin-top: 30px;
}

.margin-t50{
    margin-top: 50px;
}

.width-50{
    width: 50px;
}

.margin-L10{
    margin-left: 10px;
}

.margin-L30{
    margin-left: 30px;
}

.margin-L50{
    margin-left: 50px;
}

.site_active{
    color: #1ab7ea;
}

.site_box{
    margin-top: 10px;
}

table{
    cursor: default;
}

.maintain_group_select{
    height: 34px;
}

.mygray-light{
    color: #999 !important;
}

.mywidth95{
    width: 95% !important;
}

input.upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
}

.th-w1-1{
    width: 10px;
}

.th-w1-2{
    width: 35%;
}

.th-w1-3{
    width: 5%;
}

.th-w1-4{
    width: 20%;
}

.th-w1-5{
    width: 10%;
}

.th-w1-6{
    width: 30%;
}

.th-w2-1{
    width: 10px;
}

.th-w2-2{
    width: 15%;
}

.th-w2-3{
    width: 5%;
}

.th-w2-4{
    width: 10%;
}

.th-w2-5{
    width: 20%;
}

.th-w2-6{
    width: 5%;
}

.th-w2-7{
    width: 5%;
}

.th-w2-8{
    width: 5%;
}

.th-w2-9{
    width: 10%;
}

.th-w2-10{
    width: 10%;
}

.th-w2-11{
    width: 15%;
}

.content .title {
    font: 30px/1 bold;
    margin: 0 0 10px;
}

.content .products-box {
    height: 600px;
    border-top: #c0c0c0 1px solid;
    padding: 35px 15px;
}

.content .products-box .product-box {
    display: block;
    width: 180px;
    height: 80px;
    /*border: #99a4ac 1px solid;*/
    background: #99a4ac;
    color: white;
}

.content .products-box .product-box div {
    float: left;
    width: 60px;
    height: 80px;
    /*background: #aca;*/
    text-align: center;
    font: 40px/80px normal;
}

.content .products-box .product-box p{
    width: 110px;
    float: right;
}

.product-box .product-name {
    margin: 12px 0 0;
    font: 24px bold;
}

.products-box .product-box:hover {
    background: #B4C1CA;
}

.title_2 {
    font: 26px/26px "Microsoft YaHei UI";
    margin: 10px 0px;
    height: 26px;
    vertical-align: middle;
}

/* 添加域名/修改域名 modal 框 */
#DomainAddOrModifyModalLabel .modal-content {
    width: 700px;
}