{% extends "bind/tmp/index_tmp.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/AdminLTE/css/common.css">
    <script src="/static/AdminLTE/js/myjs.js"></script>
{% endblock %}


{% block content %}
    <div class="col-xs-12"><h2>域名列表</h2></div>


    <div class="col-xs-12">
        <h3><button type="button" class="btn btn-success">全部域名</button></h3>
    </div>
    <div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title"> </h2>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 300px;">
                            <input type="text" name="domain_resolution_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" name="domain_resolution_search_submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->

                <div id="domain_resolution_box">
                    {% include "bind/tmp/domain_resolution_table_tmp.html" %}
                </div>
            </div>
            <!-- /.box -->
        </div>


    </div>

{% endblock %}