{% extends "bind/tmp/index_tmp.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/AdminLTE/css/common.css">
    <script src="/static/AdminLTE/js/myjs.js"></script>
{% endblock %}


{% block content %}
    <div class="col-xs-12">
        <div class="title_2">批量导入记录</div>
        <p domain="{{ domain }}" name="import_dns_domain">域名：{{ domain }}</p>
        <div class="col-xs-12">
            <div class="col-xs-2">上传Excel文件(<a href="/static/system/dns.xls">下载模板</a>) </div>
            <div class="col-xs-2"><input name='import_dns_file'  type="file"></div>
            <div class="col-xs-1 ">
                <button name="upload_import_dns_file">上传</button>
            </div>

        </div>
        <div>
            <button class="btn btn-primary" name="import_dns_confirm">确定</button>
        </div>
    </div>


    <div class="col-xs-12">
        <div class="box-body table-responsive no-padding" id="table_import_dns">

        </div>
    </div>
{% endblock %}